.t4s-banner-product__wrapper {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 10%;
    width: fit-content;
    z-index: 3;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.t4s-banner-product__item {
    padding: 0;
    background-color: var(--t4s-light-color);
    margin-left: 0;
    position: relative;
    vertical-align: bottom;
    transition: .5s all;
}

.t4s-banner-product__wrapper .top-title-wrap {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.t4s-banner-product__list a.t4s-pr-item-btn.t4s-pr-addtocart {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 0;
    background-color: #191919;
    color: #fff;
    line-height: 45px;
    align-items: center;
    border-radius: 4px;
}

.t4s-banner-product__item:first-child {
    margin-left: 0;
}

.t4s-banner-product__placeholder,
.t4s-banner-product__item img {
    min-width: 86px;
    max-width: 400px;
}

.t4s-banner-product__item:hover {
    transform: translateY(-5px);
}

.t4s-banner-product__item.t4s-btn-loading__svg.is--loading>.t4s-loading__spinner {
    background: var(--t4s-light-color);
    color: var(--t4s-dark-color);
    width: 32px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out, visibility .2s ease-in-out;
}

.t4s-banner-product__item.t4s-child-lazyloaded {
    background-image: none !important;
}

.t4s-banner-product__item:not(.is--loading)>.t4s-loading__spinner {
    transform: scale(.4);
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:991px) {
    .t4s_ratio_cuspx.t4scuspx1_true {
        min-height: auto;
    }
 }

@media(max-width:1024px) {
    .t4s-banner-product__wrapper {
        position: relative;
        bottom: 20px;
        right: auto;
        width: fit-content;
        text-align: center;
        margin-top: 30px;
    }

    .t4s-banner-product__placeholder,
    .t4s-banner-product__item img {
        min-width: 60px;
        max-width: 60px;
    }
}

@media(max-width:767px) {
    .t4s-banner-product__item {
        margin-left: 10px;
        padding: 3px;
    }

    .t4s-banner-product__placeholder,
    .t4s-banner-product__item img {
        min-width: 50px;
        max-width: 50px;
    }

    .t4s-banner-product__wrapper {
                bottom: -32px;
        left: 10px;
                margin: 0;
        padding: 10px;
        width: 95%;
                text-align: left;
    }

    .t4s-banner-product__wrapper .top-title-wrap {
    position: absolute;
    padding-left: 100px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
 
.t4s-banner-product__wrapper .top-title-wrap h4 {
    font-size: 14px;
}

.t4s-banner-product__placeholder, .t4s-banner-product__item img {
            min-width: 90px;
        max-width: 90px;
}

.t4s-banner-product__list a.t4s-pr-item-btn.t4s-pr-addtocart {
    display: none;
}

.t4s-banner-product__item {
    margin: 0;
    padding: 0;
}
}

@media (max-width: 320px) {
    .t4s-banner-product__item img {
        min-width: 40px;
        max-width: 40px;
    }
}