.testimonial__star svg {
    width: 16px;
    height: 16px;
}

.outer__parts {
    width: 100%;
    display: flex;
    align-items: center;
}

.left_content {
    width: 50%;
}

.right_contents {
    width: 50%;
}

.inner_des p {
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
  font-family: "Montserrat", sans-serif;
}

.inner_des {
    margin-top: 15px;
  padding-right: 25px;
}

.inner_header p {
    font-size: .8em;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.3em;
    text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.inner_auth p {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: rgb(65, 65, 65);
}

.slider__inner_content .left_side.slick-arrow {
    position: absolute;
    bottom: 0;
  cursor:pointer;
    left: 0;
      z-index: 999;
}

.slider__inner_content .right_side.slick-arrow {
    position: absolute;
    left: 22px;
    bottom: 0;
  cursor:pointer;
}
/* .author_img {
    height: 548px;
} */

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .marquee-content {
    display: inline-block;
    animation: scroll 15s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }








@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//edjvntge.uk/cdn/fonts/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?h1=ZWRqdm50Z2UuY29t&h2=ZWRqLXZudGdlLWx0ZC5hY2NvdW50Lm15c2hvcGlmeS5jb20&h3=ZWRqdm50Z2UudWs&h4=ZWRqdm50Z2UuY28&h5=dm50Z2UuY28udWs&hmac=4e00d6ac998f32cb2fbcbe4e548c5446c6a1358c1b87cd2404669417687cf009") format("woff2"),
       url("//edjvntge.uk/cdn/fonts/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?h1=ZWRqdm50Z2UuY29t&h2=ZWRqLXZudGdlLWx0ZC5hY2NvdW50Lm15c2hvcGlmeS5jb20&h3=ZWRqdm50Z2UudWs&h4=ZWRqdm50Z2UuY28&h5=dm50Z2UuY28udWs&hmac=a5809461253a168bbe684afaacb570d2fdcfb5b082ea1f93571ebd630442a46e") format("woff");
}

  @font-face {
  font-family: Helvetica;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//edjvntge.uk/cdn/fonts/helvetica/helvetica_n4.fe093fe9ca22a15354813c912484945a36b79146.woff2?h1=ZWRqdm50Z2UuY29t&h2=ZWRqLXZudGdlLWx0ZC5hY2NvdW50Lm15c2hvcGlmeS5jb20&h3=ZWRqdm50Z2UudWs&h4=ZWRqdm50Z2UuY28&h5=dm50Z2UuY28udWs&hmac=e39525725a9ea0768ff954450d26ed70166fc2a44d543ef986dbe32b6c8ce2f1") format("woff2"),
       url("//edjvntge.uk/cdn/fonts/helvetica/helvetica_n4.8bddb85c18a0094c427a9bf65dee963ad88de4e8.woff?h1=ZWRqdm50Z2UuY29t&h2=ZWRqLXZudGdlLWx0ZC5hY2NvdW50Lm15c2hvcGlmeS5jb20&h3=ZWRqdm50Z2UudWs&h4=ZWRqdm50Z2UuY28&h5=dm50Z2UuY28udWs&hmac=96ac47ee11d75912ed1a83ea69548b3eda9c946ea3f9c120072cc506a6eca5a8") format("woff");
}

  
  .section-template--23169654817063__ss_scrolling_images_KtVBeA {
    border-top: solid #000000 2px;
    border-bottom: solid #000000 2px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .section-template--23169654817063__ss_scrolling_images_KtVBeA-settings {
    
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 24px;
    padding-left: 0rem;
    padding-right: 0rem;
    position: relative;
  }

  .scrolling-image-heading-template--23169654817063__ss_scrolling_images_KtVBeA > * {
    margin: 0;
    font-size: 34.0px;
    color: #000000;
    line-height: 130%;
    text-transform: unset;
    text-align: center;
  }

  .scrolling-image-slider-template--23169654817063__ss_scrolling_images_KtVBeA {
    margin-top: 0px;
  }

  .scrolling-image-slide-template--23169654817063__ss_scrolling_images_KtVBeA {
    /* height: 380px; */
    width: 100%;
    flex: 0 0 220px;
  }
  
  .scrolling-image-slide-template--23169654817063__ss_scrolling_images_KtVBeA img,
  .scrolling-image-slide-template--23169654817063__ss_scrolling_images_KtVBeA svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
  }

  .scrolling-image-slide-template--23169654817063__ss_scrolling_images_KtVBeA svg {
    background-color: #a0a0a0;
  }

  .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA {
    max-width: 330px;
    margin-top: -44px;
    padding: 17px 17px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #ffffff;
    position: relative;
    z-index: 3;
    text-align: center;
    box-shadow: -3px 7px 9px -2px #a09c9c;
    left: 50%;
    transform: translate(-50%);
    
  }

  .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA p,
  .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA a,
  .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA li {
    margin: 0px;
    font-size: 17.0px;
    line-height: 120%;
    color: #000000;
  }

  .marquee-horizontal-template--23169654817063__ss_scrolling_images_KtVBeA {
      position: relative;
      z-index: 2;
      display: inline-flex;
      overflow: hidden;
      width: 100%;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
  }

  html[dir="rtl"] .marquee-horizontal-template--23169654817063__ss_scrolling_images_KtVBeA {
    flex-direction: row-reverse;
  }

  .track-horizontal-template--23169654817063__ss_scrolling_images_KtVBeA {
      padding-left: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-shrink: 0;
      width: calc((220px * 19) + (10px * 19));
      gap: 10px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap;
      will-change: transform;
      animation: marquee-horizontal-right 40000ms linear infinite;
  }

  @keyframes marquee-horizontal-left {
    0% {
        transform: translateZ(0);
        visibility: visible;
    }
    
    100% {
        transform: translate3d(-100%,0,0);
    }
  }

  @keyframes marquee-horizontal-right {
    0% {
        transform: translate3d(-100%,0,0);
        visibility: visible;
    }
    
    100% {
        transform: translateZ(0);
    }
  }
  
  @media(min-width: 1024px) {

    .section-template--23169654817063__ss_scrolling_images_KtVBeA {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .section-template--23169654817063__ss_scrolling_images_KtVBeA-settings {
      padding: 0 5rem;
      padding-top: 28px;
      padding-bottom: 32px;
      padding-left: 0rem;
      padding-right: 0rem;
    }

     .scrolling-image-heading-template--23169654817063__ss_scrolling_images_KtVBeA > * {
      font-size: 40px;
    }

    .scrolling-image-slider-template--23169654817063__ss_scrolling_images_KtVBeA {
      margin-top: 0px;
    }

    .scrolling-image-slide-template--23169654817063__ss_scrolling_images_KtVBeA {
      /* height: 400px; */
      flex: 0 0 300px;
    }

    .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA {
      max-width: 240px;
      margin-top: -88px;
      padding: 22px 22px;
    }

    .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA p,
    .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA a,
    .scrolling-image-content-template--23169654817063__ss_scrolling_images_KtVBeA li {
      font-size: 20px;
    }

    .track-horizontal-template--23169654817063__ss_scrolling_images_KtVBeA {
      padding-left: 10px;
      width: calc((300px * 19) + (10px * 19));
      gap: 10px;
    }

    
    
  }


























@media (min-width: 1025px) {
    .is--tab-layout__wide .t4s-container{
	    max-width: 1600px;
	}
	.is--tab-layout__content_full .t4s-container{
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
	}
}
.is--tab-design__tab.is--tab-design-mb__tab .t4s-tabs-ul {
	display: block;
}
.is--tab-design__tab.is--tab-design-mb__tab .t4s-tab-wrapper [data-t4s-tab-item] {
	display: none;
}
.t4s-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,
.t4s-product-tabs-wrapper.is--tab-position__external .t4s-container {
	background-color: var(--bg-tabs-mb);
}
@media (min-width: 768px) {
    .t4s-product-tabs-wrapper.is--tab-position__external .t4s-type-tabs{padding: 50px 0 30px;}
    .t4s-product-tabs-wrapper.is--tab-position__external.is--tab-design__accordion .t4s-type-tabs{padding: 30px 0;}
    .t4s-product-tabs-wrapper.is--tab-position__external.is--tab-layout__full,
	.t4s-product-tabs-wrapper.is--tab-position__external .t4s-container {
	 --bg-tabs-mb: var(--bg-tabs) !important;
	}
}
.t4s-pr_attrs, .t4s-pr_attrs p {
    margin-bottom: 0;
}

/* ------------------------Custom CSS----------------------------- */
.t4s-tabs-pr-ul {
    text-align: center;
    --list-mb: 15px;
}
.t4s-tabs-pr-ul a {
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    line-height: 1.2;
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    display: inline-block;
}
.t4s-tabs-pr-ul a.t4s-active {
    border-color: var(--secondary-color);
}
.t4s-tabs-pr-ul a.t4s-active,
.t4s-tabs-pr-ul a:hover {
    color: var(--secondary-color);
}


/**
 * Accordion
 */
.is--tab-design__accordion .t4s-tab-wrapper > .t4s-tab__title[data-t4s-tab-item] {
    display: flex;
}
.is--tab-design__accordion .t4s-tab-wrapper:not(:last-of-type) {
    margin-bottom: 10px;
}
.is--tab-design__accordion .t4s-tab-content {
    padding: 20px;
    border: 1px solid rgba(var(--text-color-rgb), 0.08);
    border-top: 0;
}
.is--tab-design__accordion .t4s-tab-wrapper:first-child .t4s-tab-content:not([style]) {
	display: none;
}

.t4s-tab__title  {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--text-color-rgb), 0.08);
}

.t4s-tab__title .t4s-tab__text {
	padding: 10px;
}
.t4s-tab__title .t4s-tab__icon {
    width: 44px;
    height: 44px;
    background-color: var(--secondary-color);
    color: var(--t4s-light-color);
    position: relative;
    display: block;
    flex: 0 0 auto;
    margin-left: 5px;
}
.t4s-tab__icon:after, 
.t4s-tab__icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform .35s ease-in-out,opacity .35s ease-in-out;
    width: 15px;
    height: 2px;
    opacity: 1;
}
.t4s-tab__icon:after {
    height: 15px;
    width: 2px;
}
.t4s-active > .t4s-tab__title > .t4s-tab__icon:before,
.t4s-active > .t4s-tab__title > .t4s-tab__icon:after {
    transform: translate(-50%,-50%) rotate(90deg);
}
.t4s-active > .t4s-tab__title > .t4s-tab__icon:before {
    opacity: 0;
}

@media (min-width: 768px) {  
    .t4s-product-tabs-wrapper.is--tab-position__external {
        margin: 60px 0px;
    } 
    .t4s-tabs-pr-ul {
     --list-mb: 5px;
    }
    .t4s-tabs-pr-ul a {
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    padding: 0 25px;
    margin: 0;
    }

    .is--tab-design__tab .t4s-tab-wrapper .t4s-tab-content {
    padding: 25px 0;
  }

  /**
   * Accordion
   */
    .t4s-tab__title .t4s-tab__text {
        padding: 10px 20px;
    }
  
}

@media (max-width: 1024px) { 
	.is--tab-design-mb__accordion .t4s-tab-wrapper > .t4s-tab__title[data-t4s-tab-item] {
	    display: flex;
	}
	.is--tab-design-mb__accordion .t4s-tab-wrapper:not(:last-of-type) {
	    margin-bottom: 10px;
	}
	.is--tab-design-mb__accordion .t4s-tab-content {
	    padding: 20px;
	    border: 1px solid rgba(var(--text-color-rgb), 0.08);
	    border-top: 0;
	}
}
@media (max-width: 767px) { 
    .t4s-product-tabs-wrapper.is--tab-position__external .t4s-type-tabs{padding: 30px 0;}
    .t4s-product-tabs-wrapper.is--tab-position__external {
        margin: 30px 0;
        /* display: none; */
	} 
}